body {
    /* display: block; */
    font-family: Inter, Helvetica, Arial;
    color: white;
    background-color: #1E1E1E;
}

header {
    background-color: #5F5F5F;
    padding: 30px;
}

header #banner h1, p{
    margin: 0;
}

nav {
    display: flex;
    color: #3D3D3D;
    background-color: #AFAFAF;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

nav * {
    padding: 10px;
}

nav h2 {
    font-weight: bold;
    margin: 0;
}

nav ul {
    margin: 0;
}

nav li {
    display: inline;
}


main {
    padding: 10px;
}

h3 {
    padding: 10px;
    margin: 0;
    font-weight: bold;
}

#about {
    padding: 10px;
}

#works {
    display: grid;
    grid-template-columns: auto auto auto;
}

.project {
    padding: 20px;
}

footer {
    background-color: #5F5F5F;
    padding: 20px;
}

h6 {
    font-size: 15px;
}

#contact {
    display: flex;
    justify-content: space-evenly;
}

#contact * {
    margin: 0;
    padding: 10px;
}

.contactInfo {
    text-align: center;
}